div, p
{
	width: 200px;
	height: 200px;
	margin-bottom: 20px;
	border: black solid 2px;
}

div:nth-child(1)
{
	background-image: linear-gradient(to bottom left, red, green, blue);
}

div:nth-child(2)
{
	background-image: linear-gradient(-70deg, yellow 0%, purple 25%);
}

p
{
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
}

p + div
{
	background-image: radial-gradient(circle at center, lightblue, pink);
}

p + div + div
{
	background-image: repeating-radial-gradient(circle at center, black, white 10px);
}

p + div + div:hover
{
	background-image: repeating-radial-gradient(circle at center, white, black 10px);
}
