table
{
	border-collapse: collapse;
	/*width: 50vw;*/
	/*margin-left: 10%;*/

}
tr,td,th
{
	border: black solid 2px;
}

th
{
	background-color: lightgoldenrodyellow;
	/*width: 300px;*/
}
td
{
	width: 60%;
}

caption
{
	color: red;
}

.important
{
	text-align: center;
	background-color: red;
}

#aCompleter
{
	text-align: center;
}

td[rowspan]
{
	text-align: right;
}