h1
{
	color: blue;
}
h1:hover
{
	color: green;
}

p:active
{
	background-color: grey;
}

a
{
	color: orange;
}

a:visited
{
	color: lightgrey;
}

img
{
	width: 300px;
	height: 250px;
}

img:hover
{
	opacity:  0;
}